<header>
    <img src="assets/img/karol.jpeg" 
        alt="Karolaine Alencar - Foto de Perfil" 
        width="130px" 
        height="130px"
        loading="eager"
    />
    <h1>Karolaine Alencar</h1>
</header>

<aside>
    <div class="container">
        <h2>Sobre mim</h2>
        <p>
            Olá! Meu nome é Karolaine Alencar, sou estudante de Análise e Desenvolvimento de Sistemas e desenvolvedora Front-End. 
            Estou sempre em busca de novos desafios e oportunidades para aprender e crescer na área de tecnologia.
        </p>
        <p>Full-Stack Javascript | Front-end Angular | Back-end Java</p>
        <p>Picos, Piauí, Brasil</p>
        <p>
            Estou na área de desenvolvimento de software a mais de 4 anos. 
            Como iniciativa profissional decidi abraçar a linguagem Java como a principal linguagem de conhecimento devido as experiências desenvolvidas durantes esses anos de trabalho. Utilizando tanto a framework Sprint Boot quanto a framework Quarkus.
            Além disso, tenho experiência com o desenvolvimento de aplicações Front-End utilizando Angular.
            Também possuo conhecimento em banco de dados relacionais e não relacionais, como MySQL e MongoDB, respectivamente.
            Desenvolvi conhecimentos sobre a arquitetura de microsserviços e testes unitarios com Junit e Mockito.
            Com isso, busco sempre me atualizar e aprender novas tecnologias para me tornar uma profissional cada vez mais completa e capacitada.
            Estou sempre em busca de novos desafios e oportunidades para aprender e crescer na área de tecnologia.
        </p>
        <nav>
            <ul>
                <li>
                    <a href="assets/pdf/cv.pdf" target="_black" class="btn btn-primary">
                        Donwload CV
                    </a>
                </li>

                <li>
                    <a href="https://www.linkedin.com/in/karolaine-alencar-86584918b/" target="_blank" class="btn btn-secondary">
                        LinkedIn
                    </a>
                </li>
            </ul>
        </nav>

        <section>
            <figure>
                <img src="assets/icons/whatsapp.svg" 
                    alt="Ícone para contato do WhatsApp" 
                    width="22px" 
                    height="24px"
                />
                
                <figcaption>
                    <a href="https://api.whatsapp.com/send?phone=5589994413668&text=Ol%C3%A1%20Karolaine,%20preciso%20de%20uma%20desenvolvedora!" target="_blank">  
                        <strong>Envie uma mensagem para:</strong>
                        <p>WhatsApp: (89) 99441-3668</p>
                    </a>
                </figcaption>
            </figure>

            <figure>
                <img src="assets/icons/mail.svg" 
                    alt="Ícone para contato do e-mail" 
                    width="22px" 
                    height="24px"
                />
                
                <figcaption>
                    <a href="mailto:kalencar98@gmail.com" target="_blank">
                        <strong>Envie um e-mail para:</strong>
                        <p>kalencar98&#64;gmail.com</p>
                    </a>
                </figcaption>
            </figure>
        </section>
    </div>
</aside>